# High Frequency Finance Coursework I                        
<h4>K23023533 Jhao-Wei Chen</h4>


<style>
.output {
    flex-direction: row;
}
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.output_subarea {
    overflow-x: auto;
}
</style>

<h2>Part I: Compare SQL and NoSQL</h2> 

***
To compare SQL and NoSQL databases, it is essential to understand what these terms represent. 
<br>
<br>
SQL databases, which interact through SQL, store data in tables and use keys for data recognition and connection. These databases are typically ordered, structured and relational. It is worth noting that SQL databases have three vital characteristics: standardization, ease of use, and stability. Firstly, standardization refers to the consistent use of the same standardized language, SQL across different roles and different SQL databases. As for ease of use, it means that SQL is a simple language which does not have complex structures and can be easily learned. Lastly, stability indicates that it follows the ACID principle (Atomicity, Consistency, Isolation, and Durability). For instance, Oracle, MySQL, and Microsoft SQL Server are all well-known SQL databases. 
<br>
<br>
On the other hand, NoSQL databases store data in formats like JSON, rather than in tables, providing multiple types of data storage including key-value pairs, documents, and graphs. Compared with SQL databases, NoSQL databases have four advantages: flexibility, scalability, high performance, and high functionality. First and foremost, flexibility refers to the ability to accommodate many data types and models, which makes it more elastic. Secondly, scalability indicates that users can horizontally expand databases. Regarding high performance, this advantage represents improved efficiency in optimizing specific data models. Last but not least, high functionality denotes that various APIs and data for data models are available in NoSQL databases.
<br><br>
Considering the characteristics of SQL and NoSQL databases mentioned above, it can be concluded that there are three main differences between them. First, SQL databases are structured and follow a regulated schema, enabling users to search data by identifying relationships within the databases. In contrast, this approach is not applicable in NoSQL databases, which do not support searching data as trading factors in the same way. However, NoSQL databases can store a wider variety of data types, including those not encountered before. Second, scalability marks a significant difference between them. NoSQL databases, which support horizontal scalability, can manage high volumes and velocities of data by adding more servers. On the other hand, SQL databases usually increase capacity through significant investments in hardware upgrades. Third, the query language constitutes another key difference. SQL databases use SQL as their query language, making it easy and intuitive for users to search data. Nevertheless, NoSQL databases employ various query languages across different data models, which can confuse traders and slow down decision-making processes.
<br>
<br>
In conclusion, based on the differences in structures, scalability, and query languages, SQL databases are structured and intuitive, while NoSQL databases are flexible and scalable.

<b>Comparative Table:</b>
<table border="1">
  <tr>
    <th>Aspect</th>
    <th>SQL Databases</th>
    <th>NoSQL Databases</th>
  </tr>
  <tr>
    <td>Data Storage</td>
    <td>Store data in tables</td>
    <td>Store data in formats like JSON</td>
  </tr>
  <tr>
    <td>Schema</td>
    <td>Structured and regulated</td>
    <td>elastic, supporting various data types</td>
  </tr>
  <tr>
    <td>Scalability</td>
    <td>vertical, hard to handle high-frequency finance data</td>
    <td>horizontal, easier to handle high-frequency finance data</td>
  </tr>
  <tr>
    <td>Query Language</td>
    <td>only SQL, easy and intuitive</td>
    <td>various query languages, hard and complicated</td>
  </tr>
</table>

<h2>Part II: Create a database for high-frequency data</h2> 

***

<h3>1. Data Analysis and Pre-processing</h3>

<b>(1) OrderDetail</b>

In [46]:
import pandas as pd
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

# Convert allGlaxoOrderDetail into a DataFrame
column_names = ['OrderCode', 'MarketSegmentCode', 'MarketSectorCode', 'TICode', 
                'CountryOfRegister', 'CurrencyCode', 'ParticipantCode', 'BuySellInd', 
                'MarketMechanismGroup', 'MarketMechanismType', 'Price', 'AggregateSize',
                'SingleFillInd', 'BroadcastUpdateAction', 'Date', 'Time', 
                'MessageSequenceNumber']  

Detail = pd.read_csv('allGlaxoOrderDetail.csv', header=None, names=column_names)

# Show allGlaxoOrderDetail
Detail.iloc[:10, :8]

,OrderCode,MarketSegmentCode,MarketSectorCode,TICode,CountryOfRegister,CurrencyCode,ParticipantCode,BuySellInd
0,709ENVUN07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
1,208ATNHG07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
2,006D95WX07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
3,006D94UH07,SET1,FE10,GB0009252882,GB,GBX,NaN,B
4,709FJNIR07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
5,709EPA1T07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
6,709EODFR07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
7,609JJXF807,SET1,FE10,GB0009252882,GB,GBX,NaN,S
8,5099MB5A07,SET1,FE10,GB0009252882,GB,GBX,NaN,S
9,308PVR0Q07,SET1,FE10,GB0009252882,GB,GBX,NaN,S

<b>(2) OrderHistory</b>

In [47]:
# Convert allGlaxoOrderHistory into a DataFrame
column_names = ['OrderCode', 'OrderActionType', 'MatchingOrderCode', 'TradeSize', 
                'TradeCode', 'TICode', 'CountryOfRegister', 'CurrencyCode',  
                'MarketSegmentCode', 'AggregateSize', 'BuySellInd', 
                'MarketMechanismType', 'MessageSequenceNumber', 'Date', 'Time']  

History = pd.read_csv('allGlaxoOrderHistory.csv', header=None, names=column_names)

# Show allGlaxoOrderHistory
History.iloc[:10, :8]

,OrderCode,OrderActionType,MatchingOrderCode,TradeSize,TradeCode,TICode,CountryOfRegister,CurrencyCode
0,208VSG5Q07,M,709JKPU707,500,709JKPUL07,GB0009252882,GB,GBX
1,609NJZ0107,M,308XOPF507,243,308XOPF807,GB0009252882,GB,GBX
2,308WLUQQ07,M,609MGG5Y07,1680,609MGG5Z07,GB0009252882,GB,GBX
3,208SG8CP07,M,509ABGBD07,3288,509ABGBI07,GB0009252882,GB,GBX
4,609MYSWA07,M,208V4A1707,12148,208V4A1807,GB0009252882,GB,GBX
5,609R1IHO07,M,408LULF907,392,408LULFE07,GB0009252882,GB,GBX
6,006QWO5E07,D,NaN,0,NaN,GB0009252882,GB,GBX
7,3095JP3907,D,NaN,0,NaN,GB0009252882,GB,GBX
8,509JJ8KI07,D,NaN,0,NaN,GB0009252882,GB,GBX
9,20938C5X07,D,NaN,0,NaN,GB0009252882,GB,GBX

<b>(3) TradeReport</b>

In [48]:
# Convert allGlaxoTradeReport into a DataFrame
column_names = ['MessageSequenceNumber', 'TICode', 'MarketSegmentCode', 
                'CountryOfRegister', 'CurrencyCode', 
                'TradeCode', 'TradePrice', 'TradeSize', 'TradeDate', 
                'TradeTime', 'BroadcastUpdateAction', 'TradeTypeInd', 
                'TradeTimeInd', 'BargainConditions', 'ConvertedPriceInd',
                'PublicationDate', 'PublicationTime']  

TradeReport = pd.read_csv('allGlaxoTradeReport.csv', header=None, names=column_names)

# Show allGlaxoTradeReport
TradeReport.iloc[:10, :8]

,MessageSequenceNumber,TICode,MarketSegmentCode,CountryOfRegister,CurrencyCode,TradeCode,TradePrice,TradeSize
0,1114866,GB0009252882,SET1,GB,GBX,509ABGBI07,1419.0000,3288
1,438192,GB0009252882,SET1,GB,GBX,308U55BX07,1423.0000,1645
2,1285577,GB0009252882,SET1,GB,GBX,308UIQWF07,1421.0000,298
3,736925,GB0009252882,SET1,GB,GBX,208T0L6W07,1401.5000,3
4,1137035,GB0009252882,SET1,GB,GBX,609K7U8F07,1417.7714,5
5,900321,GB0009252882,SET1,GB,GBX,208SCS1R07,1420.0000,606
6,601775,GB0009252882,SET1,GB,GBX,408FNO6107,1404.0000,1500
7,355811,GB0009252882,SET1,GB,GBX,308U3NHE07,1422.0000,350
8,664624,GB0009252882,SET1,GB,GBX,408FKOGA07,1401.0000,60
9,1191567,GB0009252882,SET1,GB,GBX,509B692D07,1415.0000,601

<h3>2. Create a SQLite Database and Add Tables</h3>

In [49]:
# Connect to the SQLite database (create one if it does not exist)
conn = sqlite3.connect('high_frequency_finance.db')

# Create a cursor object using the cursor method
cursor = conn.cursor()

<b>(1) OrderDetail</b>

In [50]:
# Create the 'Detail' table
create_detail_query = """
CREATE TABLE IF NOT EXISTS Detail (
    OrderCode CHAR(10) NOT NULL,
    MarketSegmentCode CHAR(4) NOT NULL,
    MarketSectorCode CHAR(4) NOT NULL,
    TICode CHAR(12) NOT NULL, 
    CountryOfRegister CHAR(2) NOT NULL, 
    CurrencyCode CHAR(3) NOT NULL,     
    ParticipantCode CHAR(11),
    BuySellInd CHAR(1) NOT NULL,
    MarketMechanismGroup CHAR(1) NOT NULL,
    MarketMechanismType CHAR(2) NOT NULL,
    Price DECIMAL(18,8) NOT NULL,
    AggregateSize DECIMAL(12) NOT NULL,
    SingleFillInd CHAR(1) NOT NULL,
    BroadcastUpdateAction CHAR(1) NOT NULL,
    Date TEXT NOT NULL, 
    Time TEXT NOT NULL,
    MessageSequenceNumber INTEGER(10) NOT NULL,    
    PRIMARY KEY (OrderCode)
);
"""
# Execute the create table query
cursor.execute(create_detail_query)

<b>(2) OrderHistory</b>

In [51]:
# Create the 'Hisory' table
create_Hisory_query = """
CREATE TABLE IF NOT EXISTS History (
    OrderCode CHAR(10) NOT NULL,
    OrderActionType CHAR(1) NOT NULL, 
    MatchingOrderCode CHAR(10), 
    TradeSize DECIMAL(8), 
    TradeCode CHAR(10), 
    TICode CHAR(12) NOT NULL, 
    CountryOfRegister CHAR(2) NOT NULL, 
    CurrencyCode CHAR(3) NOT NULL,  
    MarketSegmentCode CHAR(4) NOT NULL, 
    AggregateSize DECIMAL(12) NOT NULL, 
    BuySellInd CHAR(1) NOT NULL, 
    MarketMechanismType CHAR(2) NOT NULL, 
    MessageSequenceNumber INTEGER(10) NOT NULL, 
    Date TEXT NOT NULL, 
    Time TEXT NOT NULL,
    PRIMARY KEY (OrderCode, MatchingOrderCode)
);
"""
# Execute the create table query
cursor.execute(create_Hisory_query)

<b>(3) TradeReport</b>

In [52]:
# Create the 'TradeReport' table
create_tradereport_query = """
CREATE TABLE IF NOT EXISTS TradeReport (
    MessageSequenceNumber INTEGER(10) NOT NULL,
    TICode CHAR(12) NOT NULL, 
    MarketSegmentCode CHAR(4) NOT NULL,
    CountryOfRegister CHAR(2) NOT NULL, 
    CurrencyCode CHAR(3) NOT NULL,
    TradeCode CHAR(10) NOT NULL,
    TradePrice DECIMAL(18,8) NOT NULL,
    TradeSize DECIMAL(12) NOT NULL,
    TradeDate TEXT NOT NULL,
    TradeTime TEXT NOT NULL,
    BroadcastUpdateAction CHAR(1) NOT NULL,
    TradeTypeInd CHAR(2) NOT NULL,
    TradeTimeInd CHAR(1) NOT NULL,
    BargainConditions CHAR(1) NOT NULL,
    ConvertedPriceInd CHAR(1) NOT NULL,
    PublicationDate TEXT NOT NULL,
    PublicationTime TEXT NOT NULL,
    PRIMARY KEY (TradeCode,MessageSequenceNumber)
);
"""
# Execute the create table query
cursor.execute(create_tradereport_query)

In [53]:
# Commit the changes and close the connection
conn.commit()
conn.close()

<h3> 3. Convert DataFrames into Tables in the SQLite Database</h3>

<b>(1) OrderDetail</b>

In [54]:
# Put DataFrames into tables
# Create a SQLite database connection
engine = create_engine('sqlite:///high_frequency_finance.db')

# Insert the DataFrame into the 'Detail' table
Detail.to_sql('Detail', con=engine, if_exists='append', index=False)

274322


<img src="p2.jpg" width="1000" height="1000">

<b>(2) OrderHistory</b>

In [55]:
# Insert the DataFrame into the 'History' table
History.to_sql('History', con=engine, if_exists='append', index=False)

322208


<img src="p1.jpg" width="1000" height="1000">

<b> (3) TradeReport </b>

In [56]:
# Insert the DataFrame into the 'TradeReport' table
TradeReport.to_sql('TradeReport', con=engine, if_exists='append', index=False)

130136

<img src="p3.jpg" width="1000" height="1000">

<h3> 4. Merge Tables</h3>

<b> (1) OrderLifecycleDetailTable: </b>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; Merge OrderDetail and OrderHistory as a new table

<img src="SQL_Merge.jpg" width="600" height="600">

<img src="p4.jpg" width="1000" height="1000">

<b> (2) TradeExecutionHistoryTable: </b>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; Merge OrderHistory and TradeReport as a new table

<img src="SQL_Merge2.jpg" width="600" height="600">
<img src="p5.jpg" width="1000" height="1000">

<h3> Database Structure</h3>

<img src="DatabaseStructure2.jpg" width="600" height="600">

<h2>Part III: Establish a connection to the database in Python </h2> 

***

<h3>1. Execute a Query</h3>

In [57]:
# Connect to the SQLite database
conn = sqlite3.connect('high_frequency_finance.db')

# Create a cursor object using the cursor method
cursor = conn.cursor()

# Choose the order code you want to query
sql_query = "SELECT * FROM History WHERE OrderCode = '006E6OQQ07'"

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the query result
rows = cursor.fetchall()

# Show the query
for row in rows:
    print(row)

# Close the connection
conn.close()

('006E6OQQ07', 'M', '006ECHAX07', 4910, '006ECHAY07', 'GB0009252882', 'GB', 'GBX', 'SET1', 0, 'B', 'LO', 12320, '1032007', '08:02:42')
('006E6OQQ07', 'P', '308TX55U07', 8309, '308TX55V07', 'GB0009252882', 'GB', 'GBX', 'SET1', 8257, 'B', 'LO', 12295, '1032007', '08:02:41')
('006E6OQQ07', 'P', '609JQE9H07', 3347, '609JQE9I07', 'GB0009252882', 'GB', 'GBX', 'SET1', 4910, 'B', 'LO', 12303, '1032007', '08:02:41')
('006E6OQQ07', 'P', '709FQ38N07', 3434, '709FQ38O07', 'GB0009252882', 'GB', 'GBX', 'SET1', 16566, 'B', 'LO', 12276, '1032007', '08:02:41')

<h3>2. Count the Number of Cancelled Orders</h3>

In [58]:
# Connect to the SQLite database
conn = sqlite3.connect('high_frequency_finance.db')  

# Create a cursor object
cursor = conn.cursor()

# Count the number of cancelled orders
sql_query = "SELECT * FROM History WHERE OrderActionType = 'D'"
# Execute the query
cursor.execute(sql_query)

# Fetch all rows from the query result
rows = cursor.fetchall()


# Count the number of cancelled orders
count=0
for row in rows:
    count+=1

# Print the result
print(f"Number of canceled orders: {count}")

# Close the connection
conn.close()

Number of canceled orders: 201675